{% load static %} 
{% block cssLink %} 
<link rel="stylesheet" href=" {% static "css/banner.css" %} "> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{%endblock%} 
{%block content %} 
<div class="banner_container">
    <img src="{%static "images/doc_ban_1.jpg"%}" alt="" srcset="">
    <div class="text_cont">
        <p>We Provide <span>Medical</span> Services <br>
        That You Can <span>Trust</span>
        </p>
    </div>

    <div class="buttons">
        <a href="" class="button butn_1">GET APPOINTMENT</a>
        <a href="" class="button butn_2">LEARN MORE</a>
    </div>
</div>

<div class="card_container">
    <div class="card_1">
        <div class="card_text">
            <p>Lorem Amet</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus et voluptas, quam porro cupiditate nesciunt.</p>
            <a href="">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card_2">
        <div class="card_text">
            <p>Lorem Amet</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus et voluptas, quam porro cupiditate nesciunt.</p>
            <a href="">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    <div class="card_3">
        <div class="card_text">
            <p>Lorem Amet</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus et voluptas, quam porro cupiditate nesciunt.</p>
            <a href="">Learn More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</div>
{%endblock content %}
